{% extends 'base.html' %}
{% block main %}
<div class="text-center">{% include 'messages.html' %}</div>
<table class="table table-responsive-xl table-hover">
	<thead class="sticky-top">
		<tr class="">
			<th>Pais</th>
			<th class="emoji-head"><a class="text-decoration-none text-reset" href="{% url 'covid:cases' %}">🤒</a> </th>
			<th class="emoji-head"><a class="text-decoration-none text-reset" href="{% url 'covid:recovered' %}">😀</a> </th>
			<th class="emoji-head "><a class="text-decoration-none text-reset" href="{% url 'covid:deaths' %}">💀</a> </th>
		</tr>
	</thead>
	<tbody>
		<tr class="">
			<th><a class="text-decoration-none" href="">World</a></th>
			<td>{{obj.total.confirmed}}</td>
			<td>{{obj.total.recovered}}</td>
			<td class="bg-danger text-light">{{obj.total.deaths}}</td>
		</tr>
		{%  for chave, valor in obj.cases.items %}
		<tr class="zoom">
			<th><a class="text-decoration-none" href="{% url 'covid:search' %}?termo={{chave}}">{{chave}}</a></strong></th>
			<td>{{valor.confirmed}}</td>
			<td>{{valor.recovered}}</td>
			<td class="bg-danger text-light">{{valor.deaths}}</td>	
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock main %}