{% extends 'base.html' %}
{% block main %}
<div class="text-center">{% include 'messages.html' %}</div>

<table class="table table-responsive-xl table-hover">
			<thead class="sticky-top">
				<tr class="">
					<th>Pais</th>
					<th class="emoji-head">🤒</th>
					<th class="emoji-head">😀</th>
					<th class="emoji-head">💀</th>
				</tr>
			</thead>
			<tbody>

				<tr class="">
					<th><a href="">World</a></th>
					<td>{{total.confirmed}}</td>
					<td>{{total.recovered}}</td>
					<td class="bg-danger text-light">{{total.deaths}}</td>
				</tr>
				
				{%  for chave, valor in obj.items %}
				
				<tr class="zoom">
					<th><a class="" href="{% url 'covid:search' %}?termo={{chave}}">{{chave}}</a></strong></th>
					<td>{{valor.75.confirmed}}</td>
					<td>{{valor.75.recovered}}</td>
					<td class="bg-danger text-light">{{valor.75.deaths}}</td>	
				</tr>
			
				{% endfor %}
				
			</tbody>
		</table>
{% endblock main %}